<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851176488025-38s92qmojmq9g6ikr0bobc1rc829siha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851176488025-38s92qmojmq9g6ikr0bobc1rc829siha</string>
	<key>API_KEY</key>
	<string>AIzaSyDGVo9ch8nCW-ZcmIZ_ijkpwBSbcDrz_H0</string>
	<key>GCM_SENDER_ID</key>
	<string>851176488025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Chris.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-4cc58</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-4cc58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851176488025:ios:f0dd4ab5b7a0ac8fb08548</string>
	<key>DATABASE_URL</key>
	<string>https://todolist-4cc58-default-rtdb.firebaseio.com</string>
</dict>
</plist>